<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>

        <!-- Regla para URLs con algo después de la raíz -->
        <rule name="CodeIgniter 4 - rutas" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
        </rule>

        <!-- Regla para la raíz "/" -->
        <rule name="CodeIgniter 4 - raíz" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="index.php" />
        </rule>

      </rules>
    </rewrite>

    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
  </system.webServer>
</configuration>
