/* Root Variables */
:root {
    --primary: #1672C8;
    --gray: #F2F4F7;
    --gray-2: #cfcfcf;
    --white: #fff;
}
body{
    background-color: var(--gray);
}
a{
    text-decoration: none;
}
.f-12{
    font-size: 12px;
}
.borderless td, .borderless th {
    border: none;
}
.rounded-circle{
    object-fit: cover;
}
.alert__closed{
    background-color: rgb(229, 253, 219);
}
.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active{
    background-color: var(--primary);
}
.bg-success{
    background-color: var(--primary) !important;
}
.btn-primary{
    background-color: var(--primary);
}
.btn-outline-primary{
    color: var(--primary);
    border-color: var(--primary);
}
.btn-outline-primary:hover{
    background-color: var(--primary); 
    color: white;
}
.b-s-none{
    box-shadow: none ;
}
.select2-container--default .select2-selection--single{
    height: 40px !important;
    display: block !important;
    width: 100% !important;
    padding: 8px 16px !important;
    font-size: 0.875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #5A6A85 !important;
    background-color: transparent !important;
    background-clip: padding-box !important;
    border: var(--bs-border-width) solid #DFE5EF !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 7px !important;
    -webkit-box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075) !important;
    box-shadow: inset 0 1px 2px rgba(var(--bs-body-color-rgb), 0.075) !important;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 40px !important;
}
.select2-container{
    width: 100% !important;
}
/* TINF */
.tinf__container{
    display: flex;
    justify-content: center;
    position: relative;
}
.tif__container_cards{
    display: block;
}
.tinf__card{
    background-color: var(--white);
    width: 580px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
}
.tinf__card_filter{
    margin-right: 30px;
    padding: 20px;
    background-color: var(--white);
    width: 20vw;
    max-width: 320px;
    height: fit-content;
    margin-bottom: 1rem;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 80px; 
    z-index: 1000; 
    background-color: var(--white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.1);
}
.tinf__card_filter .tinf__header .tinf__profile{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tinf__card_filter .tinf__header .tinf__profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    
}
.tinf__header .tinf__profile{
    display: flex;
    padding: 20px 20px 0 20px;
}
.tinf__header .tinf__profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}
.tinf__header{
    margin-bottom: 15px;
}
.tinf__header .tinf__profile .tinf_profile_info{
    line-height: 18px;
    display: flex;
    align-items: center;
}
.tinf__header .tinf__profile .tinf_profile_info>div>p{
    font-weight: bold;
    margin-bottom: 0px;
}
.tinf__header .tinf__profile .tinf_profile_info>div>span{
    font-size: 12px;
}
.tinf__body .text{
    padding: 0px 20px;
}
.tinf__body .image{
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 600px;
    overflow: hidden;
}
.tinf__footer{
    margin-top: 10px;
}
.tinf__footer .results{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.tinf__footer .action__container{
    border-top: 1px solid var(--gray-2);
    padding: 5px 0;
}
.tinf__footer .action{
    display: flex;
    height: 40px;
}
.tinf__footer .action button:hover{
    background-color: var(--gray);
    transition: 0.2s;
}
.tinf__footer .action button{
    width: 50%;
    border: none;
    background-color: var(--white);
}
#tinf__publicate{
    cursor: pointer;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: var(--gray);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.feed .tinf__header .tinf__profile{
    padding: 0;
}
.feed textarea{
    border: none;
    font-size: 20px;
    resize: none;
}
.tinf__add{
    user-select: none;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--gray-2);
}
.tinf__add span{
    font-weight: bold;
}
.text p{
    margin-bottom: 10px;
}
.menu__list{
    display: flex;
    justify-content: flex-end;
    margin: 0;
}                               
.menu__list .menu__list_item{
    cursor: pointer;
    border-radius: 8px;
    padding: 8px;
    height: 100%;
}
.menu__list .menu__list_item:hover{
    background-color: var(--gray);
    transition: 0.2ms;
    color: var(--primary);
}
.tinf__body small{
    font-size: 12px;
    font-weight: bold;
}
.btnRemoveLike{
    color: #1672C8;
}
.comment_area{
    padding: 6px;
    background-color: var(--gray);
    border-radius: 7px;
}
.results .likes{
    display: flex;
    align-items: center;
}
.results .comments:hover{
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary);
}
#commentListContainer{
    max-height: 80vh;
    overflow: auto;
}
.image__container-4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image__container-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.image__container-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.image__container-1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.image__link:hover{
    cursor: pointer;
    filter: brightness(0.8);
    transition: 0.5ms;
}
.image__content{
    max-height: 70vh;
    overflow: auto;
}
.image__content img{
    width: 100%;
    height: 220px;
    max-height: 70vh;
    object-fit: cover;
}
.image__container-1 img{
    height: auto!important;
    max-height: 60vh;
}
#imageFull{
    max-height: 80vh;
    max-width: 80vw;
    object-fit: cover;
}

/* Loader styles */
.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #1672C8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Media Query Mobile */
@media (max-width: 768px) {
    .tinf__card_filter{
        display: none;
    }
    .tinf__container{
        display: block;
    }
    .tinf__card{
        width: 100%;
    }
}
